# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: vepo
name: Notas sobre coisas do dia a dia de um engenheiro de software
description: Um repositório para todos os posts, palestras e tutoriais que já fiz. Java, Desenvolvimento de Software e reflexões sobre filosofia
baseurl: "" # the subpath of your site, e.g. /blog
github_username:  vepo
url: "https://vepo.github.io"

# jekyll-paginate configuration
paginate: 10
paginate_path: /pag-:num

defaults:
  -
    values:
      layout: "default"

# Build settings
markdown: kramdown
kramdown:
  input: GFM
#theme: minima
plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-paginate
  - jekyll-seo-tag
  - jekyll-compose
  - jekyll-redirect-from
exclude:
  - vendor
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README.md
  - Rakefile
include: 
  - _plugins
  - _pages
permalink: /posts/:title/
excerpt_separator: <!--more-->
author: https://www.linkedin.com/in/victorosorio/

host: 0.0.0.0

