title: vepo
name: Notas do dia a dia de um engenheiro de software
description: Um repositório para todos os posts, palestras e tutoriais que já fiz. Java, Desenvolvimento de Software e reflexões sobre filosofia
baseurl: ""
github_username:  vepo
url: "https://blog.vepo.dev"

# jekyll-paginate configuration
paginate: 15
paginate_path: /pag-:num

defaults:
  - values:
      layout: "default"

# Build settings
markdown: kramdown
kramdown:
  syntax_highlighter: rouge
  input: GFM
highlighter: rouge
asciidoctor:
  attributes:
    idprefix: _
    source-highlighter: rouge
    figure-caption: Figura
    imagesdir: /assets/images
    table-caption: Tabela
    tip-caption: Dica
collections:
  en:
    output: true
    permanlink: /en/:title
    layout: en
  tutorial:
    output: true
    permanlink: /tutorial/:title
    layout: tutorial
  youtube:
    output: true
    permanlink: /computacao-critica/:title
    layout: youtube
#theme: minima
plugins:
  - jekyll-asciidoc
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-paginate
  - jekyll-seo-tag
  - jekyll-compose
  - jekyll-image-size
  - jekyll-redirect-from
  - jekyll-date-localization
exclude:
  - vendor
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README.md
  - Rakefile
include:
  - _plugins
permalink: /posts/:title/
excerpt_separator: <!--more-->
author:
  twitter: vepo
  linkedin: https://www.linkedin.com/in/victorosorio/
  picture: /assets/images/me.avif
date_locale: pt
feed:
  path: atom.xml
  tags: true
  encoding: UTF-8
  collections:
    - en
    - youtube
    - tutorial
whitelist:
  - jekyll-redirect-from
host: 0.0.0.0
include: [CNAME]
