---
title: Computação Crítica
permalink: /computacao-critica
---

<!-- Pagination links -->
<div class="row">
	{% for post in site.youtube reversed %}
	{% if post.published %}
	<div class="card col-md-4 mb-3">
		<a href="{{ post.url }}">
			{% if post.noimage %}
			{% else %}
			<img class="card-img-top" alt="{{ post.title }}" src="{{ post.cover_image }}" />
			{% endif %}
			<div class="card-body">
				{% if post.series %}
				<h5 class="card-title">{{ post.series }}: {{ post.title }}</h5>
				{% else %}
				<h5 class="card-title">{{ post.title }}</h5>
				{% endif %}
				<div class="card-text">
					<h6 class="list-group-item-heading">
						<time datetime="{{ post.publish_date | date_to_xmlschema }}">
							{{ post.publish_date | localize: '%d/%B/%Y' }}
						</time>
					</h6>
					<div class="tag-container">
						{% for tag in post.tags %}
						<a class="label label-default {{ tag | slugify }}" href="/tags/#{{ tag | slugify }}">
							<i class="fas fa-tags"></i>
							{{ tag }}
						</a>
						{% endfor %}
					</div>
					{% if post.description != "" %}
					<p>{{ post.description }}</p>
					{% endif %}
				</div>
			</div>
		</a>
	</div>
	{% endif %}
	{% endfor %}
</div>