---
layout: default
title: Daily notes from a software engineer
description: "A repository for all the posts, talks and tutorials I've ever done. Java, Software Development and reflections about thecnology"
---

<!-- Pagination links -->
<div class="list-group">
	{% for post in site.en reversed %}
	{% if post.published %}
	<div class="list-group-item">
		<a href="{{ post.url }}">
			{% if post.series %}
			<h4 class="list-group-item-heading">{{ post.series }}: {{ post.title }}</h4>
			{% else %}
			<h4 class="list-group-item-heading">{{ post.title }}</h4>
			{% endif %}
			<h6 class="list-group-item-heading">
				<time datetime="{{ post.publish_date | date_to_xmlschema }}">
					{{ post.publish_date | localize: '%d/%B/%Y' }}
				</time>
			</h6>
		</a>
		{% if post.noimage %}
		{% else %}
		<div class="cover-image">
			<img alt="{{ post.title }}" src="{{ post.cover_image }}" width="{% imagesize post.cover_image:width %}" height="{% imagesize post.cover_image:height %}">
		</div>
		{% endif %}
		<div class="tag-container">
			{% for tag in post.tags %}
			<a class="label label-default {{ tag | slugify }}" href="/tags/#{{ tag | slugify }}">
				<i class="fas fa-tags"></i>
				{{ tag }}
			</a>
			{% endfor %}
		</div>
		{% if post.description != "" %}
		<p>{{ post.description }}</p>
		{% endif %}
	</div>
	{% endif %}
	{% endfor %}
</div>