<footer class="footer">
	<ul class="footer-links">
		<li>
			<a href="/pj-clt/">
				<button type="button" class="btn btn-dark">
					Calculadora PJxCLT
				</button>
			</a>
		</li>
		<li>
			<a href="https://www.youtube.com/@victor.osorio">
				<i class="fab fa-youtube fa-inverse fa-2x"></i>
			</a>
		</li>
		<li>
			<a href="http://github.com/vepo"> 
				<i class="fab fa-github fa-inverse fa-2x"></i>
			</a>
		</li>
		<li>
			<a href="http://www.linkedin.com/in/victorosorio">
				<i class="fab fa-linkedin-in fa-inverse fa-2x"></i>
			</a>
		</li>
		<li>
			<a href="https://bsky.app/profile/vepo.dev">
				<i class="fab fa-bluesky fa-inverse fa-2x"></i>
			</a>
		</li>
		<li>
			<a rel="me" href="https://mastodon.social/@vepo">
				<i class="fab fa-brands fa-mastodon fa-inverse fa-2x"></i>
			</a>
		</li>
		<li>&nbsp;</li>
	</ul>
</footer>
