<footer class="footer">
	<ul class="footer-links">
		<li style="text-align: left;">
			<div>
				<script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js"
					data-name="bmc-button" data-slug="vepo" data-color="#5F7FFF" data-emoji="" data-font="Cookie"
					data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#ffffff"
					data-coffee-color="#FFDD00"></script>
			</div>
		</li>
		<li><a href="http://github.com/vepo"> <i class="fa fa-inverse fa-github fa-3x"></i></a></li>
		<li><a href="http://www.linkedin.com/in/victorosorio"> <i
					class="fa fa-inverse fa-linkedin-square fa-3x"></i></a></li>
		<li><a href="https://twitter.com/vepo"> <i class="fa fa-inverse fa-twitter fa-3x"></i></a></li>
		<li>&nbsp;</li>
	</ul>
</footer>