<div>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button class="navbar-toggle collapsed" type="button" data-toggle="collapse"
					data-target="#navbar-collapse-menu">
					<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
						class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/"> <i class="fa fa-server" aria-hidden="true"></i>
				</a>
			</div>
			<div id="navbar-collapse-menu" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">

					{% for item in site.data.settings.menu %}
					<!-- If has submenues -->
					{% if item.submenu %}
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							{{item.name}}
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							{% for subitem in item.submenu %}
							<li>
								<a href="{{subitem.link}}">
									{% if subitem.icon %}
									<i class="fa fa-inverse fa-{{subitem.icon}} fa-2x"></i>
									{% endif %}
									{{subitem.name}}
								</a>
							</li>
							{% endfor %}
						</ul>
					</li>
					{% else %}
					<li><a href="{{item.link}}">{{item.name}}</a></li>
					{% endif %}
					{% endfor %}
				</ul>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a class="navbar-brand" href="https://twitter.com/vepo">
								<i class="fa fa-twitter" aria-hidden="true"></i>
								@vepo
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
	<div class="container">
		<div class="title">
			{% if page.series %}
			<h1 class="serie-title">
				{{ page.series}}
			</h1>
			<h2>
				{{ page.title }}
			</h2>
			{% else %}
			<h1 class="serie-title">
				{{ page.title }}
			</h1>
			{% endif %}
		</div>
		<div class="cover-header">
			{% if page.noimage %}
			<img alt="{{ page.title }}" src="/assets/images/top.jpg" class="img-responsive">
			{% elsif page.cover_image %}
			<div class="cover-image">
				<img alt="{{ page.title }}" src="{{ page.cover_image }}" class="img-responsive">
			</div>
			{% else %}
			<img alt="{{ page.title }}" src="/assets/images/{{page.id}}/top.jpg" class="img-responsive">
			{% endif %}
		</div>
	</div>
</div>