<div class="sidebar">
	<div class="container">
		<h1>Victor Osório</h1>
		<div class="collapse" id="menu">
			<div>
				<a href="/">
					<i class="fa fa-server" aria-hidden="true">Home</i>
				</a>
			</div>
			{% for item in site.data.settings.menu %}
			<div>
				{% if item.submenu %}
				{% if item.icon %}
				<i class="fa fa-{{ item.icon }}" aria-hidden="true">{{ item.name }}</i>
				{% endif %}
				{% for subitem in item.submenu %}
				<div class="sub-menu">
					{% if subitem.icon %}
					<a href="{{subitem.link}}">
						<i class="fa fa-{{ subitem.icon }}" aria-hidden="true">{{ subitem.name }}</i>
					</a>
					{% else %}
					<a href="{{subitem.link}}">{{subitem.name}}</a>
					{% endif %}

				</div>
				{% endfor %}
				{% else %}
				{% if item.icon %}
				<a href="{{item.link}}">
					<i class="fa fa-{{ item.icon }}" aria-hidden="true">{{ item.name }}</i>
				</a>
				{% else %}
				<a href="{{item.link}}">{{item.name}}</a>
				{% endif %}
				{% endif %}
			</div>
			{% endfor %}
		</div>
		<nav class="navbar navbar-dark bg-dark">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu"
				aria-expanded="	false" aria-label="Ver itens">
				<span class="navbar-toggler-icon"></span>
			</button>
		</nav>
	</div>
</div>
<div style="display: none;">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button class="navbar-toggle collapsed" type="button" data-toggle="collapse"
					data-target="#navbar-collapse-menu">
					<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
						class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/"> <i class="fa fa-server" aria-hidden="true"></i>
				</a>
			</div>
			<div id="navbar-collapse-menu" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">

					{% for item in site.data.settings.menu %}
					<!-- If has submenues -->
					{% if item.submenu %}
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							{{item.name}}
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							{% for subitem in item.submenu %}
							<li>
								<a href="{{subitem.link}}">
									{% if subitem.icon %}
									<i class="fa fa-inverse fa-{{subitem.icon}} fa-2x"></i>
									{% endif %}
									{{subitem.name}}
								</a>
							</li>
							{% endfor %}
						</ul>
					</li>
					{% else %}
					<li><a href="{{item.link}}">{{item.name}}</a></li>
					{% endif %}
					{% endfor %}
				</ul>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a class="navbar-brand" href="https://twitter.com/vepo">
								<i class="fa fa-twitter" aria-hidden="true"></i>
								@vepo
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
</div>