<div class="title">
    {% if page.series %}
    <h1 class="serie-title">
        {{ page.series}}
    </h1>
    <h2>
        {{ page.title }}
    </h2>
    {% else %}
    <h1 class="serie-title">
        {{ page.title }}
    </h1>
    {% endif %}
</div>
<div class="cover-image">
    {% if page.noimage %}
    <img alt="{{ page.title }}" src="/assets/images/top.avif" class="img-responsive" />
    {% elsif page.cover_image %}
    <img alt="{{ page.title }}" src="{{ page.cover_image }}" class="img-responsive" />
    {% else %}
    <img alt="{{ page.title }}" src="/assets/images/{{page.id}}/top.avif" class="img-responsive" />
    {% endif %}
</div>