<div class="title">
    {% if page.series %}
    <h1 class="serie-title">
        {{ page.series}}
    </h1>
    <h2>
        {{ page.title }}
    </h2>
    {% else %}
    <h1 class="serie-title">
        {{ page.title }}
    </h1>
    {% endif %}
</div>
<div class="article cover-image">
    {% if page.noimage %}
    <img alt="{{ page.title }}" src="/assets/images/top.avif" width="{% imagesize /assets/images/top.avif:width %}" height="{% imagesize /assets/images/top.avif:height %}" />
    {% elsif page.cover_image %}
    <img alt="{{ page.title }}" src="{{ page.cover_image }}" width="{% imagesize post.cover_image:width %}" height="{% imagesize post.cover_image:height %}" />
    {% else %}
    <img alt="{{ page.title }}" src="/assets/images/{{page.id}}/top.avif"  />
    {% endif %}
</div>