{% assign related_posts_counter = 0 %}
{% for allpost in site.posts %} 
    {% for tag in page.tags %} 
        {% if allpost.tags contains tag and allpost.id != page.id %}
        {% assign related_posts_counter = related_posts_counter | plus:1 %}
        {% break %}
        {% endif %} 
    {% endfor %} 
{% endfor %}
{% if related_posts_counter > 0 %}
    {% assign related_posts = 0 %}
<div class="related-posts">
    <h2>Posts relacionados</h2>
    {% for allpost in site.posts reversed %} 
        {% if related_posts > 10 %}
            {% break %}
        {% endif %}
        {% for tag in page.tags %} 
            {% if allpost.tags contains tag and allpost.id != page.id %}
    <a href="{{ allpost.url }}">
                {% if allpost.series %}
                    {{ allpost.series }}: {{ allpost.title }}
                {% else %}
                    {{ allpost.title }}
                {% endif %}
    </a>
                {% assign related_posts = related_posts | plus:1 %}
                {% break %}
            {% endif %} 
        {% endfor %} 
    {% endfor %}
{% endif %}
</div>