@font-face {
    font-family: "Irvin-Heading";
    src: url("https://db.onlinewebfonts.com/t/1e44faec07b8b81f60a3215d76bd0086.eot");
    src: url("https://db.onlinewebfonts.com/t/1e44faec07b8b81f60a3215d76bd0086.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/1e44faec07b8b81f60a3215d76bd0086.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/1e44faec07b8b81f60a3215d76bd0086.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/1e44faec07b8b81f60a3215d76bd0086.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/1e44faec07b8b81f60a3215d76bd0086.svg#Irvin-Heading")format("svg");
}

@font-face {
    font-family: "TNYAdobeCaslonPro";
    src: url("https://db.onlinewebfonts.com/t/68e94a17c3e618dbe0936fcbf25b26c6.eot");
    src: url("https://db.onlinewebfonts.com/t/68e94a17c3e618dbe0936fcbf25b26c6.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/68e94a17c3e618dbe0936fcbf25b26c6.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/68e94a17c3e618dbe0936fcbf25b26c6.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/68e94a17c3e618dbe0936fcbf25b26c6.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/68e94a17c3e618dbe0936fcbf25b26c6.svg#TNY Adobe Caslon Pro Regular")format("svg");
}

body {
    background: #FFFFFF;
    font-family: TNYAdobeCaslonPro, Times New Roman, Times, serif;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Irvin-Heading, Helvetica Neue, Helvetica, Arial, sans-serif; 
}

p {
    font-family: TNYAdobeCaslonPro, Times New Roman, Times, serif;
}

a:link, a:visited, a:hover, a:active { 
    text-decoration: none; 
    color: #000000;
}

article a,
article a:link, 
article a:visited, 
article a:active { 
    text-decoration: none; 
    color: #0593B3;
}

article a:hover { 
    text-decoration: none; 
    color: #06B4DB;
}


.site-header {
    border-bottom: solid 1px #444444;
}

.site-header h3, .site-header nav {
    display: inline-block;
}

.site-header a {
    text-transform: uppercase;
    margin: 0.5vw 0;
    display: block;
}

.site-header .site-title a {
    margin: 0;
}

.pagination {
    text-align: center;
    display: block;
    margin: 0.7em 0;
}

.tag-container {
    margin: 16px auto;
    width: max(50%, 540px);
    text-align: center;
    max-width: 100%;
    font-size: 0.65rem;
}

.tag-container .label {
    text-transform: uppercase;
    margin: 0 1em;
    white-space: nowrap;
}

.row > .card {
    padding-left: 0;
    padding-right: 0;
    width: calc(33.3333% - 0.7rem);
}

.row > .card:not(:nth-child(3n)) {
    margin-right: 1rem;
}

.main-content {
    max-width: 880px;
    margin: auto;
}

.article.cover-image {
    overflow: hidden;
    position: relative;
    width: 100%;
}
.article.cover-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.title, .publish_date {
    text-align: center;
}

.series {
    text-align: center;
    margin-bottom: 25px;
    counter-reset: post;
    border-radius: 10px;
    max-width: 70vw;
    margin-left: auto;
    margin-right: auto;
    padding: 14px 0;
    border: solid 1px #AAAAAA;
}

.series h2 {
   font-size: 1.2em;
}

.series .serie-contents .serie-article::before {
    counter-increment: post;
    content: "\00a0\00a0\00a0" counter(post) ": ";
    position: absolute;
    left: 1vw;
}

.series .description {
    font-size: 0.8em;
    font-style: italic;
}

.series a {
    color: #000000;
}

.series .serie-article {
    position: relative;
    padding: 4px 4px 4px 45px;
    text-align: left;
}

.series .serie-article.selected {
    font-weight: bolder;
    background: #888;
    color: #FFF;
}

.series .serie-article.selected:before {
    content: ">\00a0" counter(post) ": ";
    position: absolute;
    left: 1vw;
}

.series .serie-contents .serie-article:not(.selected):hover {
    background-color: #888888;
    color: #FFFFFF;
}

.img-block {
    text-align: center;
}

.img-block img {
    max-width: 100%;
    height: auto;
}

.bio s {
    opacity: 0.6;
}

.education>div {
    display: flex;
    margin-bottom: 15px;
}

.education>div>div:not(.logo) {
    display: flex;
    flex-direction: column;
    margin: auto 0;
}

.education .logo {
    padding: 5px 20px 5px 0;
}

.education .logo img {
    height: 80px;
    width: auto;
}

.education .time {
    color: #1B4353;
    font-size: 0.9em;
    line-height: 1em;
}

.education .institution {
    font-weight: bold;
    font-size: 1.1em;
}

.education .course {
    font-size: 0.9em;
    line-height: 0.9em;
}

.bio-social-media img,
.bio-social-media svg {
    max-height: 30px;
    font-size: 30px;
    vertical-align: top;
    margin-right: 20px;
    width: 1em;
}

.quoteblock,
blockquote {
    padding: 0.3em 1rem 0.3em 1rem;
    border-left: solid 1px #444;
    margin: 0 0 0.5em 0;
    background: #DDDDDD;
}

.quoteblock > blockquote {
    padding: 0;
    margin: 0;
    border: none;
}

.quoteblock .attribution {
    margin-top: 1em;
    color: #666;
    font-size: 0.9em;
}

blockquote p:last-child {
    margin-bottom: 0;
}

.github-repo {
    background: #FFF;
    border: solid 1px #4444;
    padding: 5px 20px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.github-repo .user, .github-repo .logo {
    max-height: 40px;
    border-radius: 5px;
    width: auto;
}

.github-repo, .github-repo .url, .github-repo a, .github-repo a:visited, .github-repo a:hover {
    color: #444444;
}

.github-repo .url {
    margin-left: 20px;
}


.github-repo .url * {
    vertical-align: baseline;
}

.github-repo h2 {
    font-size: 20px;
    margin: 0;
}

.github-repo h2 * {
    vertical-align: middle;
}


pre.highlight {
    padding: 1rem 2rem;
    margin: 0 0 2rem;
}


.highlighter-rouge, .highlight {
    max-width: 90vw;
    border-radius: 0.5rem;
}

/*  Big devices */
@media (min-width: 768px) {
    body:not([browser='Googlebot']) .container.post {
        font-size: 0.8em;
        max-width: min(100vw, 936px);
    }

    body:not([browser='Googlebot']) .series {
        max-width: 70%;
        font-size: 0.8em
    }
}

/*  Small devices */
@media (max-width: 767px) {
    .site-title,
    .menu-list {
        text-align: center;
        margin: auto;
        width: 100%;
    }
    .row > .card {
        width: 90%;
        margin: auto;
    }
    .row > .card:not(:nth-child(3n)) {
        margin-right: auto;
    }
}

.article-footer .published {
    font-size: 0.9em;
    font-style: italic;
    text-align: center;
}

.article-footer .related-posts {
    border-top: solid 1px #444444;
    text-align: center;
    padding-top: 1rem;
}

.article-footer .related-posts a {
    display: block;
}

footer {
    background: #000;
    margin-top: 30px;
    padding: 20px 0;
}

.footer-links {
    margin: 0 0 0 0em;
    padding: 0;
    text-align: right;
}

.footer-links>li {
    padding-right: 1em;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
.footer-links>li>a {
    vertical-align: bottom;
}

.buymeacoffee a {
    color: #FFFFFF;
}


.pdf-container .pdf-canvas {
    max-width: 100%;
}

.pdf-container .pdf-controls {
    text-align: center;
}

.pdf-container .pdf-controls > span {
    margin: 0 2rem;
}

.imageblock {
    margin: 1em auto;
}


.prompt {
    color: transparent;
    font-size: 0.01rem;
}