<!DOCTYPE html>
<html lang="pt-br">
{% include head.html %}
<body>
    <div class="container">
        <header class="site-header">
            <h3 class="site-title"><a href="/">Victor Osório</a></h3>
            {% include menu.html %}
        </header>
        <div class="title">
            <h1 class="serie-title">
                {{ page.title }}
            </h1>
            <p> {{ page.description }}</p>
        </div>
        <div class="article cover-image">
            <img alt="{{ page.title }}" src="{{ page.cover_image }}" width="{% imagesize post.cover_image:width %}" height="{% imagesize post.cover_image:height %}" />
        </div>
        {% if page.publish_date %}
        <div class="publish_date">
            <strong>
                <time datetime="{{ page.publish_date | date_to_xmlschema }}">
                    {{ page.publish_date | localize: '%d/%B/%Y' }}
                </time>
            </strong> 
        </div>
        {% endif %}
        <div class="tag-container">
            {% for tag in page.tags %}
            <i class="fas fa-tags"></i>
            <a class="label label-default {{ tag | slugify }}" href="/tags/#{{ tag | slugify }}">{{ tag }}</a> 
            {% endfor %}
        </div>
        <hr> 
        <article>
            {{ content }}
        </article>
        {% if page.id %}
        <div style="text-align: center;margin: 10px auto;max-width: 50%;">
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
                <img alt="Licença Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" />
            </a>
            <br />
            Este obra está licenciado com uma Licença 
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
                Creative Commons Atribuição-NãoComercial-CompartilhaIgual 4.0 Internacional
            </a>.
        </div>
        <div class="article-footer">
            {% if page.publish_date %}
            <div class="published">
                <div>Escrito em {{ page.publish_date| localize: '%d/%B/%Y' }}</div>
            </div>
            {% endif %}

            {% assign related_posts_counter = 0 %}
            {% for allpost in site.posts %} 
                {% for tag in page.tags %} 
                    {% if allpost.tags contains tag and allpost.id != page.id %}
                    {% assign related_posts_counter = related_posts_counter | plus:1 %}
                    {% break %}
                    {% endif %} 
                {% endfor %} 
            {% endfor %}
            {% if related_posts_counter > 0 %}
                {% assign related_posts = 0 %}
            <div class="related-posts">
                <h2>Posts relacionados</h2>
                {% for allpost in site.posts reversed %} 
                    {% if related_posts > 10 %}
                        {% break %}
                    {% endif %}
                    {% for tag in page.tags %} 
                        {% if allpost.tags contains tag and allpost.id != page.id %}
                <a href="{{ allpost.url }}">
                            {% if allpost.series %}
                                {{ allpost.series }}: {{ allpost.title }}
                            {% else %}
                                {{ allpost.title }}
                            {% endif %}
                </a>
                            {% assign related_posts = related_posts | plus:1 %}
                            {% break %}
                        {% endif %} 
                    {% endfor %} 
                {% endfor %}
            {% endif %}
        </div>
        {% endif %}
        </div>
    </div>

    {% include footer.html %}
    {% include analytics.html %}
 </body>
</html>
